<div id="footer">
  <ul>
    <li><span>Vistazo</span> <%= settings.version_string %></li>
    <li>Created by <a href="http://pebblecode.com/">pebble {code}</a></li>
    <!--<li><a href="#">get satisfaction / UX testing link</a></li>-->
  </ul>
  <ul class="legal">
    <li><a href="/terms">Terms of Service</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>
  <a class="press-kit" href="/press-kit/vistazo-press-kit.zip">Download the press kit</a>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28661003-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>