<form id="invite-user-form" action="/<%= @team.url_slug %>/user/new" method="post">
  <fieldset class="new-object-fieldset">
    <legend>Invite new user</legend>
    <label for="new_user_email">Invite new user</label>
    <input type="text" name="new_user_email" title="New user email" class="new-object-text-box" />
    <button type="submit" name="new_user" value="new_user" class="submit-button">+</button>
  </fieldset> <!-- Invite new user -->
</form>