<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Vistazo</title>
  
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <% if @projects.present? %>
    <style type="text/css">
      <% for project in @projects %>
        <%= ".#{project.css_class}" %> {
          background-color: <%= "#{project.hex_colour}" %>;
        }
      <% end %>
    </style>
  <% end %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/jquery.labelify.js" type="text/javascript"></script>
  <script src="/js/script.js" type="text/javascript"></script>
  
  
</head>
<body class="homepage">
  <div id="top-nav">
    <h1>VISTAZO</h1>
  </div>
  
  <%= styled_flash %>
  
  <div id="main">
    <div id="screenshot"></div>
    <div id="intro">
      <p id="vistazo-is">Vistazo is a simple, lightweight tool for small teams to see <span>who</span> is working on <span>what</span>, <span>when</span>.</p>
      <br />
      <br />
      <p id="to-start">To start, just sign in with your Google mail account with the button below:</p>
      <a href="/auth/google_oauth2/" id="start-btn">Start using Vistazo<span> </span>!</a>
    </div>
    <hr />
    <div class="www">
      <img src="/img/who.png" alt="who" class="www-icon"/>
      <p>Add people to your Vistazo team. Then you can invite them to create a Vistazo acount and view &amp; edit your team.</p><br /><p>Soon everyone you work with will be able to see your teams workload at a glance.</p>
    </div>
    <div class="www www2">
      <img src="/img/what.png" alt="what" class="www-icon"/>
      <p>Vistazo makes it super simple to add projects to anyone on your team.</p><br /><p>Projects can be easily moved between people and times. So when priorities change quickly, it's a breeze to update Vistazo.</p>
    </div>
    <div class="www www2">
      <img src="/img/when.png" alt="when" class="www-icon"/>
      <p>Vistazo works with days. Not hours. Not minutes.</p><br /><p>This gives everyone in your team the freedom to manage their own workload.</p><br /><p>Working in days also lets you see the weeks workload really easily and quickly.</p>
    </div>
    
  </div>
  <footer>
    <ul>
      <li><span>Vistazo Alpha</span> 0.5.0 release</li>
      <li>Created by <a href="http://pebblecode.com/">pebble {code}</a></li>
      <li><a href="#">get satisfaction / UX testing link</a></li>
    </ul>
  </footer>
</body>