<div id="homepage">
  <h1>Welcome to the Vistazo prototype</h1>
  <p>The world of pebble:</p>
  <% if @accounts.present? %>
    <ul>
      <% for account in @accounts %>
        <li><a href="<%= account.url_slug %>/"><%= account.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>