<ul>
  <li><a href="/create">Create data</a></li>
  <li><a href="/delete_all">Delete all</a></li>
</ul>

<% if @team_members.present? %>
  <h3>Team members:</h3>
  <ul>
    <% for tm in @team_members %>
      <li><%= tm.name %>
        <% if tm.team_member_projects.present? %>
          <ul>
            <% for tmp in tm.team_member_projects %>
              <li>- <%= "#{tmp.project_id}: #{tmp.date}" %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @projects.present? %>
  <h3>Projects:</h3>
  <ul>
    <% for p in @projects %>
      <li style="color: <%= p.hex_colour %>"><%= p.name %></li>
    <% end %>
  </ul>
<% end %>


<div class="line line1"></div><div class="line line2"></div><div class="line line3"></div><div class="line line4"></div><div class="line line5"></div><div class="line line6"></div>

<table>
  <tr>
    <th class="row1 col1"> <p class="arrows">(</p> </th>
    <th class="row1 col2"> <p class="day">MON</p> <p class="date">14th</p> <p class="month">NOV</p> </th>
    <th class="row1 col3"> <p class="day">TUE</p> <p class="date">15th</p> <p class="month">NOV</p> </th>
    <th class="row1 col4"> <p class="day">WED</p> <p class="date">16th</p> <p class="month">NOV</p> </th>
    <th class="row1 col5"> <p class="day">THU</p> <p class="date">17th</p> <p class="month">NOV</p> </th>
    <th class="row1 col6"> <p class="day">FRI</p> <p class="date">18th</p> <p class="month">NOV</p> </th>
    <th class="row1 col7"> <p class="arrows">)</p> </th>
  </tr>
  <tr>
    <td class="row2 col1"> <div class="person"><hr / class="highlight">Toby H</div> </td>
    <td class="row2 col2">           
      <div class="project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div> 
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
      <div class="new-project">+</div>
    </td>
    <td class="row2 col3">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
      <div class="new-project">+</div>
    </td>
    <td class="row2 col4">
      <div class="project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div>
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
    </td>
    <td class="row2 col5">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
      <div class="new-project">+</div>
    </td>
    <td class="row2 col6">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
      <div class="new-project">+</div>
    </td>
    <td class="row2 col7"></td>
  </tr>
  <tr> 
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
  </tr>  <!--the divider-->
  <tr>
    <td class="row3 col1"> <div class="person"><hr / class="highlight">George O</div> </td>
    <td class="row3 col2">
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
    </td>
    <td class="row3 col3">
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
    </td>
    <td class="row3 col4">
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
    </td>
    <td class="row3 col5">
      <div class="project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
    </td>
    <td class="row3 col6"></td>
    <td class="row3 col7"></td>
  </tr>
  <tr> 
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
  </tr>  <!--the divider-->
  <tr>
    <td class="row4 col1"> <div class="person"><hr / class="highlight">Mark D</div> </td>
    <td class="row4 col2">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row4 col3">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row4 col4">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row4 col5">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
      <div class="project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div>
    </td>
    <td class="row4 col6">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row4 col7"></td>
  </tr>
  <tr> 
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
  </tr>  <!--the divider-->
  <tr>
    <td class="row5 col1"> <div class="person"><hr / class="highlight">Tak T</div> </td>
    <td class="row5 col2"></td>
    <td class="row5 col3">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row5 col4"></td>
    <td class="row5 col5">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row5 col6">
      <div class="project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div>
    </td>
    <td class="row5 col7"></td>
  </tr>
  <tr> 
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
    <td><hr / class="row-divider"></td>
  </tr>  <!--the divider-->
  <tr>
    <td class="row6 col1"> <div class="person"><hr / class="highlight">Vince M</div> </td>
    <td class="row6 col2">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
      <div class="project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div>
    </td>
    <td class="row6 col3">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
    </td>
    <td class="row6 col4">
      <div class="project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div>
    </td>
    <td class="row6 col5">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
    </td>
    <td class="row6 col6">
      <div class="project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
    </td>
    <td class="row6 col7"></td>
  </tr>
  <tr>
    <td class="row7 col1"> <div id="new-person">Add new person <div id="plus">+</div></div></td>
    <td class="row7 col2"></td>
    <td class="row7 col3"></td>
    <td class="row7 col4"></td>
    <td class="row7 col5"></td>
    <td class="row7 col6"></td>
    <td class="row7 col7"></td>
  </tr>
</table>
<div id="d-test"><div class="highlight"></div> <p id="d-title">Add a new project </p>
  <div class="d-project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div> 
  <div class="d-project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
  <div class="d-project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div> 
  <div class="d-project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
  <div class="d-project d-new"> <p class="d-new-type">Add new project</p> <p id="d-plus">+</p></div>
  <img src="img/point.png" id="point"/>
</div>