<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Vistazo</title>
  
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <style type="text/css">
    <% for project in @projects %>
      <%= ".#{project.css_class}" %> {
        background-color: <%= "#{project.hex_colour}" %>;
      }
    <% end %>
  </style>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/script.js" type="text/javascript"></script>
  
</head>
<body>
  <div id="top-nav">
    <h1><a href="/">VISTAZO</a></h1> <div class="top-spacer">
    </div> <h2>pebble{code} web-dev team</h2> 
    <p class="top-symbols">U</p> 
    <div class="top-spacer right"></div> 
    <p class="top-symbols">S</p>
    <div class="top-spacer right"></div>
    <p id="help">?</p>
  </div>
  
  <%= styled_flash %>
  
  <div id="main">
    <%= yield %>
  </div>



</body>