<div id="homepage">
  <h1>Vistazo</h1>
  <p>Vistazo is a simple, lightweight tool for small teams to see who is working on what, when.</p>
  <p><a href="/auth/google_oauth2/">Start using Vistazo</a></p>
</div>