<div id="homepage">
  <h1>Welcome to the Vistazo prototype</h1>
  <p><a class="project" href="/auth/google_oauth2/">Sign in</a> with your Google account</p>
  
  
  <p>
    <% if @user %>
      Hello, <%= @user.name.encode('UTF-8') %>
    <% end %>
  </p>
</div>