<h1 class="title">Privacy Policy</h1>
<div class="content">
  <p>Pebble Code ("us" or "we", and so on) are committed to protecting and respecting your privacy. This policy (together with our <a herf="/terms">Terms of Service</a>) sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us, particularly through the use of our website under the domain name <a href="http://vistazoapp.com">vistazoapp.com</a> (the "Website"). Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.</p>
  
  <p>The Website may, from time to time, contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
  
  <p>If you have any queries or concerns this privacy policy or our use of your personal data, please contact us using the link on the <a href="/">home page</a> of this Website.</p>
  
  <h2>Information we may collect about you</h2>
  
  <p>We may collect and process the following data about you:</p>
  
  <ul>
    <li>information that you provide by signing into the Website. This includes information provided at the time of registering to use the Website, subscribing to our services, posting material or requesting further services;</li>
    <li>if you contact us, we may keep a record of that correspondence;</li>
    <li>details of transactions you carry out through the Website;</li>
    <li>details of your visits to the Website including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own purposes or otherwise, and the resources that you access.</li>
  </ul>

  <h2>IP addresses and cookies</h2>
  
  <p>We may collect information about your computer, including where available your IP address, operating system and browser type for system administration. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>
  
  <p>For the same reason, we may obtain information about your general internet usage by using a cookie file which is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. They help us to improve the Website and to deliver a better and more personalised service. In particular, they enable us to:</p>

  <ul>
    <li>estimate our audience size and usage pattern;</li>
    <li>store information about your preferences, and so allow us to customise the Website according to your individual interests;</li>
    <li>speed up your use of the Website; and</li>
    <li>recognise you when you return to the Website.</li>
  </ul>

  <p>You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of the Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to the Website.</p>
  
  <h2>Storage of your personal data</h2>
  
  <p>All information you provide to us may be stored on our secure servers. Where we have given you (or where you have chosen) a user identification code and/or a password which enables you to access certain parts of the Website, you are responsible for keeping this password confidential. We ask you not to share a password with anyone in order to help protect your personal data.</p>
  
  <p>The transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to the Website or communicated to us by email or similar medium. Any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
  
  <h2>Use of your personal data</h2>
  
  <p>We use information held about you in the following ways:</p>
  
  <ul>
    <li>to ensure that content from the Website is presented in the most effective manner for you and for your computer;</li>
    <li>to provide you with information or services that you request from us, where you have consented to be contacted for such purposes;</li>
    <li>to carry out our obligations arising from any contracts entered into between you and us;</li>
    <li>to allow you to participate in interactive features of our service, when you choose to do so;</li>
    <li>to notify you about changes to our service, where if necessary you have consented to receiving such notifications.</li>
  </ul>

  <p>We may also use your data to provide you with information about goods and services which may be of interest to you and we may contact you about these by post, e-mail or telephone. If you do not want us to use your data in this way, or to pass your details on to third parties for these purposes, please contact us immediately using the link on the <a href="/">home page</a> of this Website.</p>
  
  <p>We may disclose your personal information to third parties:</p>

  <ul>
    <li>in accordance with the uses of information described above;</li>
    <li>if we outsource any of our internal functions, such as the processing of invoices;</li>
    <li>in the event that we sell any business or assets, in which case we may disclose your personal data to the prospective buyer of such business or assets;</li>
    <li>if we are under a duty to disclose or share your personal data in order to comply with any legal or regulatory obligation, or in order to enforce or apply our <a href="/terms">Terms of Service</a> and other agreements; or to protect our rights, property, or safety, or that of our customers or others (this includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction).</li>
  </ul>

  <h2>Your rights</h2>
  
  <p>You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing at any time by contacting us using the link on the <a href="/">home page</a> of this Website.</p>
  
  <p>The Data Protection Act 1998 gives you the right to access and to correct information held about you. Your right of access or correction can be exercised in accordance with the Act. Any request may be subject to a fee to meet our costs in providing you with details of the information we hold about you. For further information, please visit the Information Commissioner's Office website at <a href="http://www.ico.gov.uk">http://www.ico.gov.uk</a>.</p>
  
  <h2>Changes to this Privacy Policy</h2>
  
  <p>We reserve the right to change this privacy policy at any time. You should check this Website from time to time to review the current policy.</p>
</div>