<% if @team %>
  <div id="team-name-dialog" title="Team name">
    <form id="team-name-form" action="/<%= @team.url_slug %>/update" method="post">
      <fieldset class="update-object-fieldset">
        <legend>Team name</legend>
        <label for="team_name">Team name</label>
        <input type="text"name="team_name" title="Team name" class="update-object-text-box" value="<%= @team.name %>"/>
        <button type="submit" name="update_team_name" value="true" class="submit-button">update</button>
      </fieldset>
    </form>
    
    <% if current_user.teams.count > 1 %>
      <div id="switch-teams">
        <h2>Switch teams</h2>
        <ul>
          <% current_user.teams.each do |team|%>
            <li><div class="list-bullet"></div><a href="/<%= team.id %>"><%= team.name %></a></li>
          <% end %>
        </ul>
      </div>
    <% end%>
  </div>
<% end %>
