<div class="static-page">
	<h1 class="title">Terms of Service</h1>
	<div class="content">
  
    <h2>Important Notice</h2>
  
    <p>This legal notice applies to the entire contents of this website under the domain name vistazoapp.com (the "Website"), and to any correspondence by email between us and you. Please read the following terms and conditions carefully before using this Website. You may wish to print a copy for future reference.</p>
    
    <p>By using the Service you are deemed to accept the validity of and be bound by these Terms without modification, and you agree that you shall ensure that any third party accessing or using this Website through your internet connection also complies with these Terms.</p>
  
    <h2>About Us</h2>
  
    <p>The Website is a site operated by Pebble Code ("us" or "we", and so on). We are a private limited company incorporated in England under company number 07240178. Our registered office address is at: W127 Westminster Business Square, 1-45 Durham Street, London, SE11 5JH.</p>

    <p>You can find out more about us and our services on our blog. If you have any queries or concerns about us, our services, this Website or these Terms, please contact us using the link on the home page of this Website.</p>

    <h2>About You</h2>
  
    <p>We process information about you in accordance with our privacy policy. By using the Website, you consent to such processing and you warrant that all data provided by you is accurate.</p>
  
    <h2>Accessing the Website</h2>
  
    <p>We allow access to the Website on a temporary basis, and we reserve the right to withdraw, suspend, amend or limit access to all or part of the Website without notice or liability to you. This might be necessary, for example but without limitation, because of technical demands or to make improvements to our service.</p>

    <p>Some areas of the Website are available only to registered users. If you choose to create a registered account for the Website and/or you are provided with a user identification code (such as a screenname), password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We reserve the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these Terms.</p>

    <p>You are responsible for making all arrangements necessary for you to have access to the Website.</p>

    <h2>Using the Website and Uploading Material</h2>
  
    <p>You may use the Website only for lawful purposes. You may not use the Website: (a) in any way that breaches any applicable local, national or international law or regulation; (b) in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect; (c) to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards; (d) to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation; or (e) to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</p>

    <p>You may upload material to the Website provided that it is in accordance with these Terms and our account signup procedures. You may not upload any material to the Website: (a) that is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance, harassment or inconvenience; (b) for which you have not obtained all necessary licences and/or approvals; (c) which constitutes or encourages conduct that could be considered a criminal offence, could give rise to civil liability or is otherwise contrary to the law of, or infringes the rights of any third party in, the UK or any other country in the world; or (d) which is technically harmful (including, without limitation, viruses, Trojan horses, worms, time bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware).</p>

    <p>We make no warranty or guarantee that any material you upload to the Website will be considered confidential or secure. Except as otherwise expressly agreed with you, we shall have the right to copy or use any such material. By uploading any material to the Website, you acknowledge and agree that such material may be accessed or used by other users of the Website.</p>

    <h2>Intellectual Property</h2>
  
    <p>Except as otherwise stated, we own or are licensed to use all copyright and other intellectual property rights in the Website, including its design, structure and contents. You are granted a licence under these Terms to use such intellectual property rights solely to the extent necessary in order to use the services which we provide to you and only in accordance with these Terms.</p>

    <p>All other rights are reserved. No part of this Website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without our prior written permission. You may not decompile, reverse-engineer or disassemble any part of the Website or its contents or any software used in connection with the Website.</p>

    <h2>Links to and from the Website</h2>
  
    <p>You may link to the home page of the Website, provided that you do so in a way that is fair and legal and does not damage our reputation or take unfair advantage of it. You may not establish a link: (a) in such a way as to suggest any form of association, approval or endorsement by us where none exists; or (b) from any website that is not owned by you. The Website may not be framed on any other site, nor may you create a link to any part of the Website other than the home page. We reserve the right to withdraw linking permission without notice.</p>

    <p>Links to third party websites from this Website are provided solely for your convenience and information. If you use these links, you leave this Website. We have not reviewed all of these third party websites and do not control and are not responsible for these websites or their content or availability. We do not endorse or make any representations about any material found within or any results that may be obtained by using them. If you decide to access any of the third party websites linked from this Website, you do so entirely at your own risk.</p>

    <h2>Warranties, Liability and Indemnity</h2>

    <p>Except as specified in these terms, to the maximum extent permitted under applicable law, the Website and our services are provided on an “as is” basis and without any kind of warranty or representation that the Website will be complete, accurate, free of errors omissions or bugs, of satisfactory quality or fit for the purpose for which you intend, nor that your use of the Website will not infringe the rights of any third party. Except as specified in these Terms, we are not responsible for any loss, injury, claim, liability, damage, or consequential damage related to your use of the Website.</p>

    <p>Commentary and other materials posted on the Website are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to the Website, or by anyone who may be informed of any of its contents.</p>

    <p>For the avoidance of doubt, nothing in these Terms shall operate to exclude or restrict our liability for: death or personal injury resulting from negligence; fraud or deceit; or any other matter for which it would be unlawful for us to exclude or limit or attempt to exclude or limit our liability.</p>

    <p>To the extent permitted by law, by using this Website you agree to indemnify and hold Pebble Code, its directors, officers and employees, harmless from any and all liability, loss, damages, costs, legal costs, professional and other expenses of any nature whatsoever incurred or suffered as a result of or in connection with your use of or conduct on the Website.</p>

    <h2>Changes to these Terms</h2>

    <p>We reserve the right to change these Terms or any of our policies regarding the use of the Website at any time. You should check this Website from time to time to review the current legal notice as it is binding on you.</p>

    <h2>Severability</h2>

    <p>If any provision of these Terms is found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability shall not affect the other provisions of these Terms which shall remain in full force and effect.</p>

    <h2>Governing Law and Jurisdiction</h2>

    <p>These Terms and any matter arising from or in connection with your use of the Website (including any non-contractual obligation) shall be governed by and construed in accordance with the law of England and Wales. You irrevocably agree to submit to the non-exclusive jurisdiction of the courts of England and Wales over any claim or matter arising from or in connection with these Terms, or the legal relationships established by or in connection with these Terms, or your use of the Website.</p>
</div>