@import 'reset';
@import 'typography';
@import 'css3';

/* Variables
-----------------------------------------------------------------------------*/

/* Colours */
$flash_blue: #339BB9;
$flash_green: #57A957;
$flash_black: #404040;
$flash_yellow: #EEDC94;


/* General styles
-----------------------------------------------------------------------------*/

body {
  background: #f4fbfe url('/img/bg.png') repeat-x;
}


/* Top nav
-----------------------------------------------------------------------------*/

/* @group top-nav */

#top-nav {
  @include box-shadow(0, 3px, 0, rgba(0, 0, 0, 0.1));
  
  width: 100%;
  float: left;
  background-color: rgba(41, 171, 226, 1);
  margin-bottom: 100px;

  .top-spacer {
    width: 1px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 8px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, .15);
  }

  .top-symbols {
    color: #fff;
    font-family: 'WebSymbolsRegular';
    font-size: 14px;
    float: right;
    margin: 11px 10px 0 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  }

  .right {
    float: right;
  }

  #help {
    color: #fff;
    font-family: 'MenschBold' ;
    float: right;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    margin: 12px 10px 0 0 ;
  }
} // #top-nav

/* @end */


/* Flash messages
-----------------------------------------------------------------------------*/

#flash {
  position: absolute;
  width: 100%;
  top: 65px;
  color: #ffffff;
  
  a {
    color: #ffffff;
  }
  
  .flash {
    text-align: center;
    padding: 10px;
    background: $flash_blue;

    &.info {
      background: $flash_blue;
    }
    
    &.success {
      background: $flash_green;
    }

    &.warning {
      color: $flash_black;
      background: $flash_yellow;
      
      a {
        color: $flash_black;
      }
    }
  }
} // #flash


/* Main styles
-----------------------------------------------------------------------------*/

/* @group main-styles */

#main {
  @include border-radius(10px);
  @include box-shadow(0, 5px, 20px, rgba(0, 0, 0, 0.1));
  
  position: relative;
  width: 920px;
  clear: both;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 0 auto;
  
  #week-view {
    td, .row1.col1, .row1.col6 {
      border-right: 1px dashed #b3b3b3;
    }
    .col7 {
      border-right: none; /* Cancel out border on last column */
    }
    
    .row-divider {
      background-colour: #ffffff;
      
      td {
        border-right: none; /* Cancel out border on last column */
        
        hr {
          margin: 1px 0;
          height: 1px;
          border: none;
          background-color: #d2ecf6;
        }
      }
    }
    
    .row1 {
      height: 50px;
      vertical-align: bottom;
    }

    tr.team-member {
      padding-bottom: 20px;
      
      &.even {
        background:url('/img/hatch1.gif');
      }

      &.odd {
        background:url('/img/hatch2.gif');
      }
      
      .project {
        @include border-radius(5px);
        @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.1));
        
        height: 20px;
        background-color: #fff;
        margin: 5px 5px 0 10px;
        font-size: 14px;
        color: #808080;
        border: 1px solid #cccccc;
        padding-right: 2px;

        .project-title{
          float: left;
          margin-top: 3px;
        }

        .handle {
          cursor: move;
        }
        
        &.is_loading .handle-container {
          background: transparent url("/img/loading.gif") no-repeat 2px 2px;
          width: 20px;
          height: 20px;
          float: left;

          .handle {
            display: none;
          }
        }
        
        .delete-tm-project-form {
          button {
            color: #B0B0B0;
            cursor: pointer;
            background: none;
            border: none;
            
            font-family: 'WebSymbolsRegular';
            font-size: 12px;
            line-height: 12px;
            vertical-align: center;
            float: right;
            padding: 2px 0 0 0;
            
            &:active {
              color: #999999;
            }
          }
        }
        
      } // .project
    } // tr.team-member
  } // #week-view

  .col1 {
    width: 140px;
  }

  .col2, .col3, .col4, .col5, .col6 {
    width: 150px;
  }

  .col7 {
    width: 30px;
  }

  .arrows {
    font-family: 'WebSymbolsRegular';
    float: right;
    color: rgba(41, 171, 226, 1);
    margin: 0px 6px 20px 6px;
    text-decoration: none;
  }

  .day {
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
  }

  .date {
    color: #999999;
    font-size: 12px;
  }

  .month {
    color: #999999;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .person {
    @include border-radius(5px);
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
    
    height: 20px;
    background: rgba(41, 171, 226, 1) url('/img/people-arrow.png') no-repeat 115px 6px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    border: 1px solid #259acb;
    padding: 0px 5px;
  }

  .highlight {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 0 0 2px 0;
  }

  #new-person {
    @include border-radius(5px);
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.05));
    
    height: 18px;
    border: 1px solid #e6e6e6;
    color: #e6e6e6;
    font-size: 14px;
    margin: 10px 5px 5px 5px;
    padding: 2px 5px 0 5px;
  }

  #plus {
    font-family: 'WebSymbolsRegular';
    float: right;
    font-size: 10px;
    margin-top: 3px;
    color: #e6e6e6;
  }
  
  .handle {
    @include border-radius(10px);
    
    width: 10px;
    height: 10px;
    margin: 5px;
    float: left;
  }
  
  .new-project {
    @include border-radius(5px);
        
    display: block;
    text-decoration: none;
    opacity: 0;
    height: 16px;
    margin: 5px 5px 0 10px;
    font-family: 'WebSymbolsRegular';
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, .1);
    cursor: pointer;
  }
  
} // #main

/* @end */

/* New project dialog box
-----------------------------------------------------------------------------*/

#new-project-dialog {
  @include border-radius(8px);
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
  
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 50;
  min-height: 150px;
  width: 200px;
  background-color: rgba(41, 171, 226, 1);
  margin: 5px;
  border: 1px solid #259acb;
  
  h4 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    
    margin: 5px 0 10px 7px;
  }
  
  .new-project-fieldset {
    @include border-radius(5px);
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
    
    background: #ffffff;
    margin: 20px 5px 5px 5px;
    display: block;
    position: relative;
    
    font-weight: normal;
    font-size: 14px;
    height: 20px;
    background-color: #fff;
    color: #808080;
    border: 1px solid #a1a1a1;
    text-shadow: none;
    
    label {
      display: none;
    }
    
    input {
      margin: 2px 0 0 5px;
      width: 163px;
      border: none;
    }
    
    .new-project-submit-button {
      position: absolute;
      bottom: 1px;
      right: 0px;
      padding: 0;
      
      color: #D7D7D7;
      font: 12px 'WebSymbolsRegular';
      line-height: 14px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
  
  .close {
    position: absolute;
    top: 8px;
    right: 5px;
    outline: none;
    color: #ffffff;
    font: 10px 'WebSymbolsRegular';
    text-decoration: none;
  }
}

#point{
  position: absolute;
  top: 36px;
  left: -15px;
}

.d-project{
  @include border-radius(5px);
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
  
  font-weight: normal;
  height: 20px;
  background-color: #fff;
  margin: 5px;
  font-size: 14px;
  color: #808080;
  cursor: pointer;
  border: 1px solid #a1a1a1;
  text-shadow: none;
}

.d-new{
  margin-top: 20px;
}

#new-project-form {
  background-color: #fff;
  font-size: 14px;
  color: #808080;
  
  label {
  }
  
  input {
    color: #808080;
  }
  
  button {
    color: #d7d7d7;
    font: 10px 'WebSymbolsRegular';
    text-shadow: none;
  }
} // #new-project-form


/* Misc
-----------------------------------------------------------------------------*/

/* For debugging - to seed/reset db */
#modify-data {
  display: block;
  position: absolute;
  top: 10px;
  left: 370px;
  
  a {
    padding: 5px;
    color: white;
    display: block;
    text-decoration: none;
  }
}






