@import 'reset';
@import 'typography';
@import 'css3';

/* Variables
-----------------------------------------------------------------------------*/

/* Colours */
$flash_blue: #339BB9;
$flash_green: #57A957;
$flash_black: #404040;
$flash_yellow: #EEDC94;
$vistazo_blue: #29ABE2;
$vistazo_gray: #cccccc;

$warning_bg_color: #EEDC94;
$warning_color: #000000;

/* Mixins
-----------------------------------------------------------------------------*/

@mixin emboss-box-shadow {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25),
              inset 0 3px 0 rgba(255, 255, 255, 0.15),
              inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25),
              inset 0 3px 0 rgba(255, 255, 255, 0.15),
              inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25),
              inset 0 3px 0 rgba(255, 255, 255, 0.15),
              inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25),
              inset 0 3px 0 rgba(255, 255, 255, 0.15),
              inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  filter: none;
}

@mixin emboss-box-shadow-small {
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),
              inset 0 2px 0 rgba(255, 255, 255, 0.2),
              inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),
              inset 0 2px 0 rgba(255, 255, 255, 0.2),
              inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),
              inset 0 2px 0 rgba(255, 255, 255, 0.2),
              inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
              inset 0 2px 0 rgba(255, 255, 255, 0.2),
              inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  filter: none;
}

@mixin overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/hatch1.png');
}

@mixin dialog-heading {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    
  margin: 5px 0 10px 0;
}

@mixin close-button {
  outline: none;
  color: #ffffff;
  font: 10px $web_symbols_font_family;
  text-decoration: none;
}

@mixin dialog-title {
  margin-top: 15px;
  font-size: 16px;
  line-height: 16px;
}

@mixin project-button {
  @include border-radius(5px);
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));

  font-family: $default_font_family;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-shadow: none;
  filter: none;
  color: #808080;
  background-color: #fff;
  
  margin: 5px 0;
  border: 1px solid #a1a1a1;
}

@mixin button-standard {
  @include border-radius(5px);
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-shadow: none;
  padding: 5px;
  color: #808080;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  cursor: pointer;
  filter: none;
}

@mixin text-input{
  @include border-radius(5px);
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-shadow: none;
  padding: 2px 5px;
  color: #fff;
  background: #6cc8ee;
  border: 1px solid #fff;
}


/* General styles
-----------------------------------------------------------------------------*/

body {
  background: #f4fbfe url('/img/bg.png') repeat-x;
  
  button::-moz-focus-inner {
      border:0;
      padding:0;
  }
  
}

.circle {
  @include border-radius(10px);
  
  width: 10px;
  height: 10px;
  margin: 5px;
  float: left;
}

  .handle {
    @extend .circle;
  }

/* Forms */
.new-object-fieldset {
  @include text-input;
  position: relative;
  label {
    display: none;
  }
  
  /* For labelify*/
  .new-object-text-box-label {
    font-family: $default_font_family;
    color: #808080;
    font-size: 14px;
    line-height: 16px;
  }
  
  .new-object-text-box {
    color: #fff;
    background: #6cc8ee;
    border: none;
    font-size: 13px;
    line-height: 16px;
  }
  
  .submit-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0;
    
    color: #fff;
    font: 12px $web_symbols_font_family;
    line-height: 14px;
    cursor: pointer;
    background: none;
    border: none;
    letter-spacing: 0;
  }
} // .new-object-fieldset

.update-object-fieldset {
  @include text-input;
  width: 380px;
  
  
  legend, label {
    display: none;
  }
  
  input {
    font-family: $default_font_family;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;
    background: #6cc8ee;    
    border: none;
    width: 370px;
    
  } // input
  
  button {
    @include button-standard;
      
    position: absolute;
    top: 30px;
    left: 410px;
            
    &:hover{
      background-color: #d4eef9;
      border: 1px solid #666;
      color: #666;
      @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.3));
      filter: none;
    }
    &:active{
      top: 31px;
    }
  } // button
} // .update-object-fieldset

#delete-project-dialog {
  .warning-msg {
    width: 400px;
    float: none;
  }

  form {
    fieldset {
      button {
        float: right;
        margin-top: 0;
        margin-left: 10px;
      }
    }
  } // form
} // #delete-project-dialog

.delete-object-fieldset {
  legend {
    @include dialog-title;
    
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  }
  
  button {
    @include button-standard;
    float: right;
    
    margin-top: 17px;
    margin-right: 3px;
      
    &:hover{
      background-color: #d4eef9;
      border: 1px solid #666;
      color: #666;
      @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.3));
    }
    &:active{
      top: 1px;
    }
  } // button
} // .delete-object-fieldset

.errors {
  li {
    @include border-radius(5px);
    color: red;
    text-shadow: none;
    background-color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px 10px;
  }
}

.warning-msg {
  width: 300px;
  float: left;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 5px;
  padding-top: 12px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
} // .warning

.warning-icon{
  float: left;
  margin: 15px 10px 0 0;
  font-family: $web_symbols_font_family;
  font-size: 2em;
} // .warning-icon

.new-window-icon {
  font-family: $web_symbols_font_family;
}

textarea:focus, input:focus{
  outline: none;
}

/* Error styles */

#team-users-dialog{
  .errors-on-form {
    .new-object-fieldset {
      padding: 0;
      border: 1px solid red;
      input {
      }
      .submit-button {
        color: #666;
        bottom: 1px;
        right: 1px;
        letter-spacing: 0;
      }
    }
      
    .error-field-msg {
      margin-top: 5px;
    } // .error-field
  } // .errors-on-form
}


/* Top nav
-----------------------------------------------------------------------------*/

/* @group top-nav */

#top-nav {
  @include box-shadow(0, 3px, 0, rgba(0, 0, 0, 0.1));
  filter: none;
  
  width: 100%;
  float: left;
  background-color: rgba(41, 171, 226, 1);
  margin-bottom: 100px;
  
  #logo{
    &:hover{
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    }
    &:active{
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      margin: 6px 12px 1px 5px;
    }
  }

  .top-spacer {
    width: 1px;
    height: 35px;
    background-color: rgba(0, 0, 0, .1);
    margin-top: 1px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, .3);
  }

  #team-name {
    width: 400px;
    float: left;
    background-color: #27A5DA;
    
    h2 {
      cursor: pointer;
      height: 25px;
      color: #fff;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
      margin: 7px 0 0 0;
      padding: 3px 50px 0 10px;
      
      background-image: url(../img/team.png);
      background-repeat: no-repeat;
      background-position: right 0 ;
      
      position: absolute;
      left: 125px;
      top: 0;
      
      &:hover{
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.30);
      }
      &:active{
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.30);
        margin: 8px 0 -1px 0;
      }
    } // h2
  } // #team-name
  
  .action-bar {
    li {
      float: right;
      margin: 11px 10px 0 10px;
      font-size: 14px;
      line-height: 16px;
      
      &:first-child{
        margin: 11px 15px 0 5px;
      }
      
      &:nth-child(2){
        margin: 11px 15px 0 0;
      }
      
      &:nth-child(3){
        margin: 11px 0 0 0;
      }
      
      a {
        color: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        text-decoration: none;
        
        &:hover{
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
        }
        &:active{
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
          line-height: 20px;
        }
        
        &.logout{
          text-decoration: underline;
          text-shadow: none;
          &:hover{
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          }
        }
        
        &.help {
          font-family: 'MenschBold' ;
          text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
          font-size: 17px;
          line-height: 19px;
          
          &:hover{
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
          }
          &:active{
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
            line-height: 20px;
          }
        }
      } // a
      
      &.logged-in-as {
        color: #fff;
      } // .logged-in-as
    } // li
  } // .action-bar
  
  .invite-user {
    float: right;
    margin: 11px 10px 0 10px;
    
    a {
      color: white;
      text-decoration: none;
    }
  }
} // #top-nav

/* @end */


/* Flash messages
-----------------------------------------------------------------------------*/

#flash {
  position: absolute;
  width: 100%;
  top: 65px;
  color: #ffffff;
  
  a {
    color: #ffffff;
  }
  
  .flash {
    text-align: center;
    padding: 10px;
    background: $flash_blue;

    &.info {
      background: $flash_blue;
    }
    
    &.success {
      background: $flash_green;
    }

    &.warning {
      color: $flash_black;
      background: $flash_yellow;
      
      a {
        color: $flash_black;
      }
    }
  }
} // #flash


/* View selector
-----------------------------------------------------------------------------*/

#view-selector {
  position: absolute;
  min-width: 1000px;
  margin: 0 auto;
  top: 112px;
  left: 15px;

  li {
    position: absolute;

    &#week-view-selector {
      top: 0;
      left: 0;
    }
    &#month-view-selector {
      top: 0;
      left: 108px;
      a {
        background-color: #f3f3f3;
      }
      &.active a {
        background-color: white;
      }
    }
    &#project-view-selector {
      top: 0;
      left: 216px;
    }
    &.active a {
      background-color: white;
      color: #666;
      position: absolute;
      z-index: 200;
    }

    a {
      @include border-radius(5px);
      outline: none;

      font-size: 14px;
      text-align: center;

      display: block;
      width: 90px;
      padding: 7px 12px 10px;
      text-decoration: none;
      color: #bbbbbb;
      background-color: #E6E6E6;
    }
  }
} // #view-selector


/* Main styles
-----------------------------------------------------------------------------*/

/* @group main-styles */

#main {
  @include border-radius(10px);
  @include box-shadow(0, 5px, 20px, rgba(0, 0, 0, 0.1));
  filter: none;
  position: relative;
  // z-index: 0; // Can't have z-index, otherwise help overlay items inside main can't show on top of the bg overlay

  width: 96%;
  min-width: 1000px;
  clear: both;
  margin: 0 auto;
  padding: 1%;
  background-color: #fff;
  margin-top: 0 auto;

  #timetable {
    width: 100%;
    td, .first-row.col1, .first-row.col6 {
      border-right: 1px dashed #b3b3b3;
    }
    .col-last {
      border-left: 1px dashed #b3b3b3;
      border-right: none; /* Cancel out border on last column */
    }
    
    .row-divider {
      background-colour: #ffffff;
      
      td {
        border-right: none; /* Cancel out border on last column */
        
        hr {
          margin: 1px 0;
          height: 1px;
          border: none;
          background-color: #d2ecf6;
        }
      }
    } // .row-divider
    
    .first-row {
      height: 50px;
      vertical-align: bottom;
    }
    
    .content-footer {
      border-right: none; /* Cancel out border on last column */
      
      #add-user-button {
        text-decoration: none;
        color: #999;
        padding: 2px 5px;
        font-size: 14px;
        @include border-radius(5px);
        border: 1px solid #a1a1a1;
        @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.15));
        margin-left: 6px;
        position: relative;
        background: #fff;
        filter: none;
        
        &:hover {
          color: #777;
        
          &:after{
            color: #777;
          }
        }
        
        &:active {
          top: 1px;
          background: #eee;
        }
        
        &:after {
          content: "+";
          font-family: $web_symbols_font_family;
          font-size: 12px;
          color: #ddd;
          margin-left: 10px;
          position: relative;
          top: -3px;
        }
      }
    } // .content-footer

    tr {
      &.even {
        background: transparent url('/img/hatch1.gif') repeat 0 0;
        .col7, .col8 {
          background: transparent url('/img/hatch1-desat.gif') repeat 0 0;
        }
      } // &.even

      &.odd {
        background: transparent url('/img/hatch2.gif') repeat 0 0;
        .col7, .col8 {
          // Can't get hatch2 to work with transparent background for some reason
          // background: white url('/img/hatch2-desat.gif') repeat 0 0;
          background: transparent url('/img/hatch2-desat.gif') repeat 0 0;
        }
      } // &.odd

      &.user {
        padding-bottom: 20px;
        
        .box {
          padding-bottom: 30px;
          cursor: pointer;
          position: relative;
          
          &:hover {
            background: transparent url("/img/new-project.png") no-repeat center bottom;
            z-index: 1;
          }
          &.remove-add-img {
            background: none;
          }
        } // .box
        
        .project {
          @include border-radius(5px);
          @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.1));
          
          
          background-color: #fff;
          margin: 5px 6px 0 8px;
          font-size: 14px;
          color: #808080;
          border: 1px solid #cccccc;
          padding-right: 2px;
          padding-bottom: 3px;
          position: relative;
          filter: none;
          cursor: move;
          
          &:hover {
            border: 1px solid #aaa;
            @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
            filter: none;
          }
          
          .project-title{
            margin-top: 3px;
            
          }
          
          &.is_loading {
            cursor: wait;
            
            .handle-container {
              background: transparent url("/img/loading.gif") no-repeat 2px 2px;
              width: 20px;
              height: 20px;
              float: left;

              .handle {
                display: none;
              }
            } // .handle-container
            
            .delete-timetable-item-form {
              display: none; /* Hide delete form if loading */
            } // .delete-timetable-item-form
            
          } // &.is_loading
          
          .delete-timetable-item-form {
            display: inline;
            
            button {
              color: #B0B0B0;
              cursor: pointer;
              background: none;
              border: none;
              
              font-family: $web_symbols_font_family;
              font-size: 12px;
              line-height: 12px;
              vertical-align: center;
              float: right;
              padding: 2px 0 0 0;
              
              position: absolute;
              right: 0;
              top: 0;
              
              &:active {
                color: #999999;
              }
            }
          }
          
        } // .project
      } // &.user

      &.project-row {
        .project-title-container {
          @include project-button;
          width: 95%;
        }
      } // &.project-row    
    } // tr

    // Week/Month view overrides
    &.week-view, &.month-view {
      #content {
        .user-name {
          &:hover {
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
            @include emboss-box-shadow-small;
          }
          
          &:active {
            margin: 6px 5px 4px 5px;
            background-color: #28a6db;
          }
        } // .user-name
      } // #content
    } // &.week-view

    // Project view overrides
    &.project-view {
      .user-name {
        background-image: none;
      }
    } // &.project-view

    // Month view overrides
    &.month-view {
      thead {
        td {
          height: 20px;
          vertical-align: middle;
        }

        #month-title {
          font-size: 16px;
          line-height: 18px;
          color: #666;
          text-align: right;
          margin: 10px 5px 0 0;
        }

        .day {
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          color: #999;
          text-align: center;
        }

        .arrows {
          margin: 10px;
        }

        #week-links {
          td {
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: #999;
            text-align: center;
            border: none;

            a {
              text-decoration: none;
              padding: 2px 0;
              display: block;
            }
            &.odd {
              background-color: #E5F6FF;
              a {
                color: #4DC3FF;
              }
            }
            &.even {
              background-color: #CEF;
              a {
                color: #3BF;
              }
            }
          } // td
        } // #week-links

        .row-spacer {
          td {
            border: none;
            height: auto;

            div {
              height: 0; // Sets the height of the td
            }
          } // td
        } // .row-spacer
      }

      tr {
        .box {
          width: 2.7419%;
          text-align: center;
          position: relative;
        }
        
        &.even{
          .is-weekend {
            background: transparent url('/img/hatch1-desat.gif')
          } 
        }
        
        &.odd{
          .is-weekend {
            background: transparent url('/img/hatch2-desat.gif')
          } 
        }
        
        &.user {
          .project {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0.3em auto;

            @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
            filter: none;

            &.is_loading .handle-container {
              float: none;
              margin: 0 auto;
            }

            .handle {
              width: 17px;
              height: 17px;

              margin: 0 auto;
              float: none;
            }

            // Hide title
            .project-title {
              display: none;
            }

            .delete-timetable-item-form {
              display: none; // Hide delete button for now

              button {
                float: none;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 auto;
              } // button
            } // .delete-timetable-item-form
          } // .project
        } // &.user
      } // tr
    } // &.month-view
  } // #timetable

  .col1, .col2, .col3, .col4, .col5, .col6{
    width: 13.33333%;
    min-width: 125px;
  }
  
  .col7, .col8{
  	width: 9%;
  	min-width: 100px;
  } 
  
  /* @group weekend styling */
  
  .col7, .col8{
    &.first-row{
      background: #fff;
    }
  
  /* @end */
  }

  .col-last {
    width: 2%;
  }

  .today{
    background-image: url(../img/hatch3.png);
    width: 13.3333%;
    min-width: 125px;
    height: 80%;
    position: absolute;
    top: 10px;
    border-radius: 10px;
  }
  
  .arrows {
    font-family: $web_symbols_font_family;
    float: right;
    color: $vistazo_blue;
    margin: 0px 6px 20px 6px;
    text-decoration: none;
    position: relative;
    
    &:hover{
      color: #4EC9FC;
      text-shadow: 0 2px 0 #ddd;
    }
    &:active{
      margin: 1px 6px 19px 6px;
      text-shadow: 0 1px 0 #ddd;
    }
  }

  .day {
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
  }

  .date {
    color: #999999;
    font-size: 12px;
  }

  .month {
    color: #999999;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .highlight {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 0 0 2px 0;
  }

  #plus {
    font-family: $web_symbols_font_family;
    float: right;
    font-size: 10px;
    margin-top: 3px;
    color: #e6e6e6;
  }
  
  #content .user-name {
    @include border-radius(5px);
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
    filter: none;
    
    
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin: 5px;
    border: 1px solid #259acb;
    padding: 0px 5px;
    
    display: block;
    text-decoration: none;
    outline: none;

    background: rgba(41, 171, 226, 1) url('/img/people-arrow.png') no-repeat 100% 5px;
  } // #content .user-name

  #new-user-row {
    td {
      padding: 25px 0 10px;
    }
  }

  #other-users {
    td {
      padding: 10px 0 0;  
    }

    h3 {
      float: left;
      margin-right: 5px;
      margin-left: 7px;
      color: $vistazo_gray;

      font-size: 14px;
      line-height: 16px;
    }

    ol {
      margin-left: 7px;
    }
    
    li {
      color: $vistazo_gray;

      font-size: 14px;
      line-height: 16px;
    }

    .user {
      float: left;
      margin-right: 5px;

      .user-name {
        color: $vistazo_gray;
        font-size: 14px;
        line-height: 16px;

        &:hover {
          color: $vistazo_blue;
        }
      } // .user-name
    } // .user
  } // #other-users
} // #main

/* @end */


/* Static pages
-----------------------------------------------------------------------------*/

.is-static {
  #main {
    width: 700px;
    min-width: 700px;
    padding: 15px 20px 1px;

    h1.title {
      color: $vistazo_blue;
      float: none;
      margin: 10px 0 20px;
    }

    h2 {
      color: $vistazo_blue;
      float: none;
      margin: 10px 0 10px;
      text-shadow: none;
    }

    p {
      margin: 0 0 20px;
      line-height: 1.2em;
      color: #808080;
    }

    a {
      color: $vistazo_blue;
    }

    ul {
      list-style: disc;
      margin-bottom: 15px;
      color: #666;

      li {
        margin-left: 20px;
      }
    }
  } // #main
} // .is-static

/* Dialogs
-----------------------------------------------------------------------------*/

.list-bullet {
  @extend .circle;
  height: 5px;
  width: 5px;
  margin: 7px 10px 5px 5px;
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
  filter: none;
  background-color: #fff;
} // #point

#new-team-form {
  .new-object-text-box {
    width: 445px;
  }
}

#new-project-dialog {
  legend {
    margin: 0;
    padding: 0 0 15px 3px;
    
    line-height: 16px;
    font-size: 14px;
    
    font-family: $default-font-family;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  }
  
  #existing-projects-listing {
    margin-bottom: 5px;

    .listing {
      li {
        position: relative;

        .delete {
          font-family: $web_symbols_font_family;
          color: #B0B0B0;
          cursor: pointer;
          float: right;
          font-size: 12px;
          line-height: 12px;
          padding: 5px 0 0 0px;
          height: 18px;
          width: 15px;
          text-decoration: none;

          position: absolute;
          right: 0;
          top: 0;
          z-index: 100;

          display: none; // Hide by default
        } // .delete

        &:hover .delete {
          display: block; // Show on hover
        }
      } // li
    }
  }
  
  .new-object-fieldset {
    margin-top: 0;
  } // .new-object-fieldset
  
  #manage-projects-link {
    color: #333;
    float: right;
    text-decoration: none;
    margin-bottom: 10px;
    text-shadow: none;
  }

  #dialog-arrow {
    display: block;
    width: 20px;
    height: 20px;

    position: absolute;
    top: 36px;
    left: -15px;

    background-image: url("/img/point-left.png");
  }
  &.is-flipped {
    
    #dialog-arrow {
      left: 195px;

      background-image: url("/img/point-right.png");
    }
  }
} // #new-timetable-item-form

/* Generic jquery-ui styles */
.ui-dialog {
  @extend .new-object-dialog;
  @include box-shadow(0, 5px, 20px, rgba(0, 0, 0, 0.2));
  
  margin-top: 95px;
  
  .ui-dialog-titlebar {
    .ui-dialog-title {
      @include dialog-heading;
      
      font-size: 1.4em;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    
    .ui-dialog-titlebar-close {
      text-decoration: none;
      float: right;
      margin: 0 0 0 0;
      
      .ui-icon {
        @include close-button;
        font-size: 14px;
      }
    }
  } // .ui-dialog-titlebar
} // .ui-dialog

.ui-widget-overlay {
  @include overlay;
}

.new-object-dialog {
  @include border-radius(8px);
  @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
  filter: none;
  
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(41, 171, 226, 1);
  padding: 10px;
  border: 1px solid #259acb;
  
  h4 {
    @include dialog-heading;
  }
  
  .listing      {
    li {
      @include project-button;
    }
  } // .listing
  
  .help {
    color: #999;
    margin-left: 5px;
  }
} // .new-object-dialog

#new-project-dialog {
  display: none; /* Hide by default */
  
  @extend .new-object-dialog;
  position: absolute;
  z-index: 50;
  width: 190px;
  padding: 5px !important;
  
  h4 {
    margin-left: 3px;
    margin-top: 0;
  }
  
  .listing {
    li {
      .handle {
        position: absolute;
        z-index: 10;
      }
      
      button {
        font-family: $default_font_family;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: #808080;
        cursor: pointer;
      
        background: none;
        border: none;
        width: 188px;
        padding: 0 0 0 20px;
      
        position: relative;
        z-index: 20;
      } // button
    } // li
  } // .listing
  
  .close {
    @include close-button;
    
    position: absolute;
    top: 7px;
    right: 5px;
  }
}

#new-project-form {
  background-color: #fff;
  font-size: 14px;
  color: #808080;
  
  label {
  }
  
  input {
    color: #808080;
  }
  
  button {
    color: #d7d7d7;
    font: 10px $web_symbols_font_family;
    text-shadow: none;
  }
} // #new-project-form

#add-user-form {
  @extend #team-users-dialog;
  display: block !important;
} // #add-user-form

  #add-user-name, #add-user-email{
    @include text-input;
    display: block;
    width: 460px;
    margin: 5px 0 10px;
  }
  
  #team-users-dialog {
    display: none; /* Hide by default */
  
  .submit-button{
    text-decoration: none;
    color: #999;
    padding: 2px 5px;
    font-size: 14px;
    @include border-radius(5px);
    border: 1px solid #a1a1a1;
    @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.15));
    filter: none;
    margin-left: 6px;
    position: relative;
    background: #fff;
    cursor: pointer;
    float: right;
    letter-spacing: 0;
    
    &:hover{
      color: #777;
    
      &:after{
        color: #777;
      }
    }
    
    &:active{
      top: 1px;
      background: #eee;
    }
    
    &:after{
      content: "+";
      font-family: $web_symbols_font_family;
      font-size: 12px;
      color: #ddd;
      margin-left: 10px;
      position: relative;
      top: -1px;
    }
  }
  
  legend {
    display: none;
  }
  
  .listing {
    &.pending li {
      clear: both;
      padding-bottom: 25px;
      
      .list-bullet {
        height: 5px;
        width: 5px;
        margin: 9px 10px 5px 5px;
        @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
        filter: none;
        background-color: #d8eaf1;
      }
      
      .pending-user-email{
        float: left;
        padding-right: 10px;
      }
    }
    
    li {
      background-color: transparent;
      border: none;
      @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
      color: #fff;
      font-weight: normal;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
      
      .email {
        font-style: italic;
        font-weight: normal;
      } // .email
      
      .resend {
        @include border-radius(5px);
        @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
        filter: none;
        
        float: left;
        padding: 0 3px 0 5px;
        display: block;
        background-color: #fff;
        color: #808080;
        text-decoration: none;
        
        border: none;
        font-size: 14px;
        font-family: $default_font_family;
        line-height: 20px;
        cursor: pointer;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
        
        &:hover{
          background-color: #eee;
          color: #464646;
          @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.3));
        }
        &:active{
          margin: 1px 0 -1px 10px;
          background-color: #ddd;
        }
        
      } // .resend
    } // li
  } // .listing
  
  .new-object-fieldset {
    padding: 1px;
    margin-top: 0;
    margin-bottom: 15px;
    position: relative;
    
    .submit-button{
      position: absolute;
      right: 2px;
      bottom: 3px;
      letter-spacing: 0;
    }
    
    .new-object-text-box {
      width: 455px;
      margin-left: 5px;
    }
  } // .new-object-fieldset
  
} // #team-users-dialog

#team-name-dialog {
  display: none; /* Don't display by default */
  margin-top: 20px;
  position: relative;
  
  #team-name-form .submit-button{
    position: absolute;
    top: -2px;
    left: 410px;
    letter-spacing: 0;
    
    &:active{
      top: -1px;
    }
  }
  
  #switch-teams {
    margin-top: 20px;
    h2 {
      color: #FFFFFF;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 16px;
      margin: 5px 0 20px;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    } // h2
    
    ul {
      clear: both;
      
      li {
        margin-bottom: 20px;
      } // li
      
      a {
        @include button-standard;
        text-decoration: none;
        display: block;
        
        &:hover{
          background-color: #d4eef9;
          border: 1px solid #666;
          color: #666;
          @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.3));
          filter: none;
        }
        &:active{
          top: -1px;
        }
        
      } // a
    } // ul
  } // #switch-teams

  #new-team {
    legend {
      display: none;
    }
    
    h4 {
      color: #FFFFFF;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 16px;
      margin: 20px 0 20px;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    }
  }
} // #team-name-dialog

#edit-user-dialog {
  display: none; /* Don't display by default */
  margin-top: 20px;
  position: relative;

  h4 {
    display: inline-block;
    @include dialog-title;
    width: 155px;
  }
  
  .visible-on-timetable input{
    margin:  0 232px 0 0;
    padding: 0;
    width: 15px;
  }
  
  .user-email {
    margin-bottom: 15px;
    
    p{
      font-size: 16px;
    }
  }

  form button {
    @include button-standard;
    letter-spacing: 0;
    
    margin: 10px 0 30px 0;
      
    &:hover{
      background-color: #d4eef9;
      border: 1px solid #666;
      color: #666;
      @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.3));
      filter: none;
    }
    &:active{
      top: 31px;
    }
  } // button
} // .edit-user-dialog



#add-user-dialog {
  ol {
    list-style: none;
    margin-top: 20px;

    li {
      margin-bottom: 5px;
    } // li
  } // ol
  
} // #add-user-dialog


/* Homepage
-----------------------------------------------------------------------------*/

.homepage {

  #top-nav{
    margin-bottom: 60px;
    
    a{
      color: #fff;
      float: right;
      margin: 8px 15px;
    }
  }
  
  #flash {
    top: 50px;
  }
  
  #main {
    width: 770px;
    min-width: 770px;
    padding: 0% 0% 10px;
    
    #screenshot{
      margin: 20px;
    }
    
    #intro{
      margin: 15px 40px 20px;
      color: #bbb;
      font-weight: bold;
      font-size: 40px;
      
      img{
        margin-top: 4px;
      }
    }
    
    #glance{
      height: 200px;
      background-color: #f4fbfe;
      
      img{
        margin: 40px 0 0 75px;
      }
      
      .home-right{
        margin: 55px 20px 0 0;
        
        p{
          margin: 0 20px 0 10px;
        }
      }
    }
    
    #abc{
      height: 200px;
      
      img{
        margin: 65px 0 0 85px;
      }
      
      .home-right{
        margin: 40px 20px 0 0;
        
        span{
          color: $vistazo_blue;
        }
      }
    }
    
    #day{
      height: 200px;
      background-color: #f4fbfe;
      
      img{
        margin: 20px 0 0 110px;
      }
      
      .home-right{
        margin: 50px 20px 0 0;
      }
    }
    
    #demo{
      height: 200px;
      
      img{
        margin: 20px 0 0 105px;
      }
      
      .home-right{
        margin: 50px 20px 0 0;
      }
    }
    
    .home-right{
      width: 350px;
      float: right;
      
      h2{
        float: none;
        font-family: 'MenschBold';
        color: $vistazo_blue;
        font-size: 40px;
        text-shadow: none;
      }
      
      p{
        color: #999;
        margin: 0 0 0 10px;
      }
    }
    
    #outro{
      margin: 20px 40px;
      
      h3{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: $vistazo_blue;
        margin: 40px 0 10px;
        
        img{
          margin: 6px 10px ;
        }
      } 
      
      p{
        color: #bbb;
        font-weight: bold;
        font-size: 26px;
        width: 440px;
        letter-spacing: 1px;
      }
      
      a{
        @include border-radius(5px);
        @include box-shadow(0, 2px, 2px, rgba(0, 0, 0, 0.2));
        filter: none;
        
        background-color: rgba(41, 171, 226, 1);
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        color: #fff;
        font-size: 26px;
        line-height: 20px;
        font-weight: bold;
        margin: -55px 0 0 0;
        border: 1px solid #259acb;
        padding: 10px;
        
        float: right;
        
        text-decoration: none;
        
        &:hover{
          text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
          @include emboss-box-shadow-small;
        }
        &:active {
          margin: -54px 0 0 0;
          background-color: #28a6db;
        }
      }
    }
  
  } // #main
}

/* Registration page
-----------------------------------------------------------------------------*/

#reg-name{
  color: #999;
  margin: 20px;
  
  span{
    font-family: 'MenschBold';
    font-size: 1.2em;
    color: $vistazo_blue;
  }
}

.reg-main{
  min-height: 425px !important;
  
  .help {
    margin-top: 20px;
    clear: both;
    font-size: 14px;
    line-height: 14px;
  }
}

/* Help text
-----------------------------------------------------------------------------*/
.content-footer.col1{
  position: relative;
  display: block;
}

.help-on {
  #help-nav{
    position: absolute;
    z-index: 1100;
    top: 15px;
    right: 20px;
    height: 197px;
    width: 186px;
    background: url('/img/help-nav.png') no-repeat;
  }
  
  #help-edit{
    position: absolute;
    z-index: 1100;
    top: 50px;
    left: 10px;
    height: 197px;
    width: 186px;
    background: url('/img/help-edit.png') no-repeat;
  }
  
  #help-close{
    position: absolute;
    z-index: 1100;
    bottom: 100px;
    right: 100px;
    height: 46px;
    width: 181px;
    background: url('/img/help-close.png') no-repeat;
  }
  
  #help-week{
    position: absolute;
    top: -45px;
    left: 11px;
    z-index: 1100;
    height: 171px;
    width: 280px;
    background: url('/img/help-week.png') no-repeat;
  }
  
  #help-new{
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 1100;
    height: 120px;
    width: 315px;
    background: url('/img/help-new.png') no-repeat;
  }
  
  #help-team{
    position: absolute;
    z-index: 1100;
    top: 30px;
    left: 40px;
    height: 112px;
    width: 306px;
    background: url('/img/help-team.png') no-repeat;
  }
  
  #help-project-container {
    position: relative;
    
    #help-project{
      position: absolute;
      z-index: 1100;
      left: 20%;
      top: -12px;
      height: 145px;
      width: 200px;
      background: url('/img/help-project.png') no-repeat;
      pointer-events: none;
    }
  }
}

/* Footer
-----------------------------------------------------------------------------*/

#footer {
  margin: 0 auto 20px;
  padding-top: 100px; /* Use padding instead of margin, so that dialog positions don't screw up */
  width: 500px;
  color: #ccc;

  ul{

    li{
      margin: 10px;
      font-size: 0.8em;
      text-align: center;
      
      span{
        color: $vistazo_blue;
      }
      
      a{
        text-decoration: none;
        color: #B4DBF3;
        
        &:hover{
          text-decoration: underline;
          color: $vistazo_blue;
        }
      }
    }
  }
  
  .press-kit{
    text-decoration: none;
    color: #B4DBF3;
    font-size: 13px;
    clear: both;
    display: block;

    &:hover{
      text-decoration: underline;
      color: $vistazo_blue;
    }
  }
}

/* Error page
-----------------------------------------------------------------------------*/

.is-error {
  #main {
    h1 {
      color: #999999;
      float: none;
      margin-bottom: 20px;
      margin-left: 0;
    }
    
    p {
      margin-bottom: 20px;
    }

    a {
      color: $vistazo_blue;
    }
  } // #main
} // .is-error

/* TipTip CSS
-----------------------------------------------------------------------------*/

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

// Text colour is set in javascript in layout file
#tiptip_content {
  @include border-radius(5px);

  font-size: 1em;
  font-weight: bold;
  padding: 0.4em 0.5em;
  background-color: hsl(0, 0%, 100%);
  color: #808080;
}

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}



/* Misc
-----------------------------------------------------------------------------*/

.help-on {
  #overlay-bg{
    @include overlay;
  }
}






